<h1>
  USERS  
</h1>

{{#each users}}
  <div class="user">
    <div class="name">
      <h2>{{name}}</h2>    
    </div>
    <div class="info-user">
      <p>{{description}}</p>
      <p>{{duration}}</p>
      <p>{{date}}</p>
    </div>
  </div>  
{{/each}}